<app-layout>
  <h3>Select an option:</h3>
  <div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select here
    </a>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Create a new Parameter</a>
      <a class="dropdown-item" href="#">Update a Parameter</a>
      <a class="dropdown-item" href="#">Delete Parameter</a>
    </div>
  </div>
</app-layout>